{-# LANGUAGE OverloadedStrings #-}

module Main where

import Haskbot (haskbot)
import Haskbot.Plugin (Plugin)
import qualified Plugin.Help as Help

main :: IO ()
main = haskbot plugins 8000

plugins :: [Plugin]
plugins = [ Help.register plugins "help_secret_token" ]
