module Config
( redisConnInfo
) where

import qualified Database.Redis as R

-- see https://hackage.haskell.org/package/hedis-0.6.5/docs/Database-Redis.html
-- for full ConnectInfo implementation details

redisConnInfo :: R.ConnectInfo
redisConnInfo = R.defaultConnectInfo { R.connectDatabase = 1 }
