{-# LANGUAGE OverloadedStrings #-}

module Config
( getRedisInfo
, slackIncomingToken
) where

import Data.Text (Text)
import System.Environment (getEnv)

import qualified Database.Redis as R

slackIncomingToken :: Text
slackIncomingToken = "slack_incoming_token"

getRedisInfo :: IO R.ConnectInfo
getRedisInfo = do
  env <- getEnv "HASKBOT_ENV"
  return $ case env of
    "test" -> R.defaultConnectInfo { R.connectDatabase = 0 }
    _      -> R.defaultConnectInfo { R.connectDatabase = 1 }
